@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --ash: #cad2c5;       /* ash_gray */
  --dark: #1f2937;      /* dark slate */
  --sage: #a0af97;      /* sage green */
  --forest: #4f5c47;    /* forest green */
  --earth: #f0c05a;     /* earth yellow */
}
